<article class="post">
  <div class="title">
    <a href="/post/{{id}}" target="_blank">{{title}}</a>
  </div>
    <div>
      {{post_content}}
  </div>
  <div class="meta">
    {{vote_count}} point(s) by {{user.username}} on {{created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>